<h1>Jobs</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Add a new job</h2>
            <div>
                <%= render partial: 'form', locals: {job: @job} %>
            </div>
        </div>
        <div class="col">
            <h2>View jobs in your area</h2>
            <% @jobs.each do |job| %>
                <h4><%= link_to job.position, job_path(job) %> at <%= job.company %></h4>
                <p><%= job.snippet %></p>
            <% end %>
        </div>
    </div>
</div>




