<% days_from = (event.date.to_datetime() - DateTime.now).to_i %>
<% if days_from == 0 %>
    <% date_str = "Today" %>
<% elsif days_from == 1 %>
    <% date_str = "Tomorrow" %>
<% elsif days_from <= 10 %>
    <% date_str = "In #{days_from} days" %>
<% else%>
    <% date_str = event.date.strftime('%A, %B %d') %>
<% end %>

<tr>
    <td><span class = "event-title"><%= event.title %></span></td>
    <td><span class="event-address"><%= event.address %></span></td>
    <td><span class="event-date"><%= date_str %></span></td>
    <td><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, event_path(event), method: "delete" %></td>
</tr>