
<div class="background">
<% if flash.notice %>
    <div class="alert alert-warning" role="alert">
        <%= flash.notice %>
    </div>
<% end %>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center grey">
      
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Your job search - but better</h1>
        <p class="lead">Be faster, better and more successful in your job hunt.</p>
        <p class="lead">
          <a href=<%= new_user_path %> class="btn btn-lg btn-success">Sign up</a>
          <a href=<%= login_path %> class="btn btn-lg btn-primary">Log in</a>
        </p>
      </main>
</div>
</div>

<%= javascript_tag "$('body').css('background-image', 'url(https://c.pxhere.com/photos/95/ee/drone_view_aerial_view_forest_woodland_lane-1410050.jpg!d)');" %>