// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Task Form Styles

.inline{
    display: inline;
}



.float-left {
        float:left;

}

li form {
    display: inline;
}

.add-task-button {
    padding: 0;
    border: none;
    background: none;
    color: black;
    font-size: 1.5rem;
}